/*
	Estilos para sitio con menu iIZQ y contenido DER
	08/02/2014
*/

/* Importar algunas fuentes */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

/* BODY */
html,body{height: 100%;position: relative;color: #000;}
/* LAYOUT */
	/* IZQ */
		#izq{
			background-color:#252525;
	        color: #FFF;
	        font-family:"Noto Sans";
		    font-size:13px;
		    height: 100%;
		}
		/* Menu: Solo redefinir estilos de Uikit */
			.uk-nav-side > li > a:hover, .uk-nav-side > li > a:focus {
	            background: rgba(0, 0, 0, 0.25);
	        }
	        .uk-nav-sub > li > a:hover, .uk-nav-sub > li > a:focus {
	            color: #00C2FF !important;
	        }
			.uk-nav a{
			    cursor:pointer !important;
			    color:inherit !important;
			}
			.uk-nav-side > li{line-height:25px;}
			.uk-nav a i{font-size:15px;width:18px;}
			ul.uk-nav-sub {padding-left:35px;}
		/* / Menu*/
	/* DER */
		#der{padding:7px;overflow-y:auto;height: 100%;  }
		/* Encabezado*/
			#encabezado{
			    border-bottom:1px solid #ccc;
			    padding-top:10px;
			    padding-bottom:10px;
			}
			#encabezado a{color:#000;}
			#encabezado a:hover{color:#0066FF;text-decoration:none;}
		/* Contenido */
			#contenido{margin-top: 20px;margin-bottom: 20px;}
			/* Home */
				a.link-box{
				    display: block;
		            padding: 15px;
		            background-color: #F7F7F7;
		            border: 1px solid #DADADA;
		            text-align:center;
		            text-decoration:none;
		             -webkit-transition: all .25s ease-in-out;
		              -moz-transition: all .25s ease-in-out;
		              -o-transition: all .25s ease-in-out;
		              transition: all .25s ease-in-out;
				}
				a.link-box:hover{
				    background-color:#0099FF;
				    border-color:#0066FF;
				    color:#FFF;
				}
				#buscarform{margin-bottom: 10px;}
			/* /Home */
			/* Nueva Factura*/
				#descuentoarea,#pagoarea,#impuestosarea{
					display: none;
				}
				div#nombre,div#rfc,div#direccion{
					font-family: Open Sans;
					font-size: 15px;
					font-weight: 700;
				}
				.modal_content{margin-top: 10px !important;}
			/* /Nueva Factura */
			/* grid */
			#contenido .uk-grid {margin-top: 7px !important;}
			/* form label */
			.uk-form-label{float: left;margin-top: 4px;}
			/*	form disabled */
			input[type=text]:disabled{
				border-color: #eee !important;
				background-color: #FBFBFB !important;
				color: #666 !important;
			}
			fieldset{font-size: 13px;font-family: Noto Sans;margin-bottom: 15px !important;}
			fieldset label.uk-form-label{font-weight: 600;font-family: Open Sans}
			.uk-relative{position: relative;}
			.loader-input{
				float: right;
				position: absolute;
				top: 33%;
				right: 5px;
				display: none;
			}
/* Extras */
		.uk-h3{border-bottom: 1px solid #dddddd;padding-bottom: 5px;}
		.uk-h5{color: #444;border-bottom: 1px solid #aaa;padding-bottom: 5px;}
		.lato-bold{
			font-family: "Lato";
			font-weight: 700;
		}
	/* Uikit */
		.uk-form .uk-grid,.mg7,.uk-modal .uk-grid {margin-top: 7px !important;}
		table th,table td.uk-text-bold{font-family: 'Lato';}
		.uk-table td{vertical-align: middle;}
		.uk-form input,.uk-form select,.uk-button{border-radius: 0 !important;}
	/* Alertify */
		.alertify{
			border-radius: 0 !important;
			font-family: inherit !important;
		}
		.alertify-buttons{
			background: #FFF !important;
			border-top: none !important;
		}
		.alertify-button{border-radius: 0 !important;}
		.alertify-log-success {
			background-color: #8cc14c !important;
		  	color: #ffffff !important;
			border: none !important;
		}
		.alertify-log-error {
			background-color: #da314b !important;
		  	color: #ffffff !important;
		  	border: none !important;
		}
		.alertify-log{
			border-radius: 0 !important;
			text-shadow:none !important;
		}
	/* jquery validate */
		label.error{
			color: #EC0000;
			font-size: 13px;
		}
	/* Icons tables */
		a.editar,a.remover,a.info{font-size:15px}
		a.remove,a.eliminar{color: #FF0000;}
		a.editar{color: #FF6600;}
		a.info{color: #3399FF;}
		a.agregar{color: #009900;}
	/*  Dropdown arrow  */
		.droparrow{
			margin-top: 4px !important;
			border-color: #FF9900;
			text-align: left;
			color: #222;
		}
		.droparrow .uk-nav-dropdown > li > a:hover{
			color: #FFFFFF !important;
		}
		.droparrow:before {
			content: "";
		    position: absolute;
			width: 0;
			height: 0;
			border-width: 8px;
			border-style: solid;
			border-color: transparent transparent #FF9900 transparent;
			top: -17px;
			right: 1px;
		}
		.droparrow:after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-width: 8px;
			border-style: solid;
			border-color: transparent transparent #ffffff transparent;
			top: -16px;
			right: 1px;
		}
	

