/* 
base.css => Estilos base para proyecto
15/12/2013
*/

/* Importar algunas fuentes */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* Redefinir algunos estilos */
.uk-form .uk-grid,.mg7 {margin-top: 7px !important;}
table th{font-family: 'Lato';}
.uk-table td{vertical-align: middle;}
.uk-h3{border-bottom: 1px solid #dddddd;padding-bottom: 5px;}
/* label generado por jquery.validate */
label.error{
	color: #EC0000;
	font-size: 13px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }

/* sobreescibiri alertify confirm */
.alertify{
	border-radius: 0 !important;
	font-family: inherit !important;
}
.alertify-buttons{
	background: #FFF !important;
	border-top: none !important;
}
.alertify-button{
	border-radius: 0 !important;
}

.alertify-log-success {
	background-color: #8cc14c !important;
  	color: #ffffff !important;
	border: none !important;
}
.alertify-log-error {
	background-color: #da314b !important;
  	color: #ffffff !important;
  	border: none !important;
}

.alertify-log{
	border-radius: 0 !important;
	text-shadow:none !important;
}


/* Propios */
.modal_content{
	overflow: hidden;
	max-height: 500px;
}
.modal_content form table{
	overflow-y: auto;
}
.modal form table{height: 345px;display: block}
.modal .uk-grid .uk-button-danger{margin-left: 5px;}

form input[type="checkbox"]{
	margin-top: 4px;
}

/* De layout */
#container{
	margin-top: 1em;
	margin-bottom: 1em;
}